 .content-intro{
    blockquote{
      border-left: solid 3px orange;
      font-style: italic;
      font-size: 1em;
  }
  .lead{
  	background-color: #eaeaea;
  	padding: 7px;
  	border-radius: 9px;
  }
}