/* Content
-------------------------------------------------- */
.content {
  padding: 0 0 30px;
  background: $light-grey;
  margin-bottom: 0;

  .content-intro {
    margin-bottom: 50px;

  }

  .content-headline {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
  }

  a {
    color: $orange;

    &.btn-main {
      color: $white;
    }

    &.questions-link {
      margin-top: 20px;
    }
  }

  .questions {

    blockquote {
      font-family: Georgia, serif;
      font-size: 18px;
      color: lighten($grey, 8%);
      font-style: italic;
      margin: 0;
      position: relative;
      z-index: 600;
      border: 0;
      text-align: center;

      p {

        &:before {
          content: '\201C';
          color: $orange;
          font-size: 60px;
          font-weight: 700;
          opacity: .3;
          position: absolute;
          top: 5px;
          padding-right: 10px;
          left: -.2em;
          z-index: -300;
        }

        &:after {
          content: '\201D';
          color: $orange;
          font-size: 60px;
          font-weight: 700;
          opacity: .3;
          position: absolute;
          top: 5px;
          right: -13px;
          z-index: 300;
          padding-right: 10px;
        }
      }
    }

    h4 {
      font-weight: bold;
    }
  }

  .container {

    .row {

      .area {
        padding: 15px 0;
        background: $medium-grey;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;

        .area-title {
          font-family: 'Open Sans Condensed';
          font-weight: bold;

          @media (max-width: $screen-xs-max) {
            font-size: 18px;
          }
        }
      }
    }
  }
}