/* Testimonials
-------------------------------------------------- */
.featured-testimonial {
  background: $orange;
  margin-bottom: 0;

  .container  {
    position: relative;

    .testimonial-headline {
      color: $white;
      font-weight: bold;
      font-size: 53px;

      @media (max-width: $screen-xs-max) {
        font-size: 30px;
      }
    }

    .testimonial-name {
      font-family: 'Open Sans Condensed';
      font-weight: bold;
      color: $white;
      margin-bottom: 30px;

      @media (max-width: $screen-xs-max) {
        font-size: 25px;
      }
    }

    .testimonial-text {
      color: $white;
      font-family: 'Open Sans Condensed';

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }

    .testimonial-image {
      position: absolute;
      bottom: -48px;
      right: 0;
    }

    .btn {
      text-transform: uppercase;
      padding: 20px;
    }
  }
}