/* Intro
-------------------------------------------------- */
.intro {
  background: $blue;
  margin-bottom: 0;
  text-align: center;

  .container  {
    position: relative;

    .intro-headline {
      color: $white;
      font-weight: bold;
      font-size: 53px;
    }

    .intro-subtitle {
      font-family: 'Open Sans Condensed';
      font-weight: bold;
      color: $white;
    }

    .intro-text {
      color: $white;
      font-family: 'Open Sans Condensed';
    }

    .btn {
      margin-top: 20px;
      padding: 20px;
      text-transform: uppercase;
    }
  }
}