/* People
-------------------------------------------------- */
.us {
  padding: 50px 0 30px;
  background: $light-grey;
  margin-bottom: 0;

  .container {

    .row {

      .person {
        padding: 15px 0;
        background: $medium-grey;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
        background: $orange;

        img {
          width: 50%;
          height: 50%;
          margin-top: 10px;
        }

        .person-name {
          font-family: 'Open Sans Condensed';
          font-weight: bold;
          color: $white;

          @media (max-width: $screen-xs-max) {
            font-size: 18px;
          }
        }

        .person-role {
          color: $white;

          @media (max-width: $screen-xs-max) {
            font-size: 14px;
          }
        }
      }
    }

    .social {
      margin-top: 30px;
    }

    .colaborators-title {
      font-weight: bold;
      color: $orange;
      margin-top: 50px;
    }

    .collaborators {
      margin-top: 15px;

      .collaborator {
        margin-bottom: 30px;

        .collaborator-name {
          font-weight: bold;
          font-family: 'Open Sans Condensed';
        }
      }
    }
  }
}