/* People
-------------------------------------------------- */
.us {
  padding: 50px 0 30px;
  background: $light-grey;
  margin-bottom: 0;

  .container {

    .row {

      .person {
        padding: 15px 0;
        background: $medium-grey;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
        background: $orange;

        img {
          width: 50%;
          height: 50%;
          margin-top: 10px;
        }

        .person-name {
          font-family: 'Open Sans Condensed';
          font-weight: bold;
          color: $white;

          @media (max-width: $screen-xs-max) {
            font-size: 18px;
          }
        }

        .person-role {
          color: $white;

          @media (max-width: $screen-xs-max) {
            font-size: 14px;
          }
        }
      }
    }

    .social {
      margin-top: 30px;

      a {
        display: inline-block;
        margin: 0 20px;
        border-radius: 2px;
        width: 77px;

        &.mail {
          background: $grey;
          border: 1px solid $grey;

          &:hover {
            background: $white;

            i {
              color: $grey;
            }
          }
        }

        &.facebook {
          background: #4c66a4;
          border: 1px solid #4c66a4;

          &:hover {
            background: $white;

            i {
              color: #4c66a4;
            }
          }
        }

        &.twitter {
          background: #55acee;
          border: 1px solid #55acee;

          &:hover {
            background: $white;
            border: 1px solid #55acee;

            i {
              color: #55acee;
            }
          }
        }

        i {
          font-size: 45px;
          color: white;
        }
      }
    }

    .colaborators-title {
      font-weight: bold;
      color: $orange;
      margin-top: 50px;
    }

    .collaborators {
      margin-top: 15px;

      .collaborator {
        margin-bottom: 30px;

        .collaborator-name {
          font-weight: bold;
          font-family: 'Open Sans Condensed';
        }
      }
    }
  }
}