<div class="jumbotron intro">

  <div class="container">

    <div class="row">

      <div class="col-sm-12">

        <h2 class="intro-subtitle">Quienes Somos?</h2>
        <p class="intro-text">Somos un grupo de profesionales que laboramos en distintas &aacute;reas de la inform&aacute;tica, nos mantenemos activos en la comunidad de desarrollo y programación en Costa Rica. Decidimos unir nuestros esfuerzos ante el proyecto de ley del CPIC.</p>

      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.intro -->

<div class="us">

  <div class="container">

    <div class="row">

      <div class="col-xs-6 col-sm-3">

        <div class="person">
          <img class="img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c1.0.160.160/p160x160/10151208_829632763747699_8143274034114985961_n.jpg?oh=d8947546a289f966b7fcb90e53ca15f3&oe=54F1FCD0&__gda__=1423960066_32854ef1a0b29ae71ac3798ebaaf0233" alt="Luis A. Valverde"/>
          <h3 class="person-name">Luis A. Valverde</h3>
          <h4 class="person-role">Coordinador</h4>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="person">
          <img class="img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.47.160.160/p160x160/10660174_10152753625383035_456214442186231237_n.jpg?oh=4c6a7c6f6a189ca5fc8dbc9e25592446&oe=54DD8F9A&__gda__=1424993624_e57c897f49c1def05a9423bbd7d1fb14" alt="Daniel Salazar"/>
          <h3 class="person-name">Daniel Salazar</h3>
          <h4 class="person-role">Coordinador</h4>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="person">
          <img class="img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/p160x160/293033_10151089114489658_1588733602_n.jpg?oh=d928998b13c4117cb6d65c189a3f2d9b&oe=54EA7FD6&__gda__=1424590235_963b3fa743596bf09798f785573d43cd" alt="Óscar Víquez"/>
          <h3 class="person-name">&Oacute;scar V&iacute;quez</h3>
          <h4 class="person-role">Front-End</h4>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="person">
          <img class="img-circle" src="https://media.licdn.com/media/p/8/005/048/26f/31d609b.jpg" alt="Kevin Blanco"/>
          <h3 class="person-name">Kevin Blanco</h3>
          <h4 class="person-role">Back-End</h4>
        </div>

      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

    <div class="social">

      <div class="text-center">

        <a class="btn btn-primary btn-lg mail" href="mailto:info@informaticalibre.cr"><i class="fa fa-envelope"></i></a>
        <a class="btn btn-primary btn-lg facebook" href="http://facebook.com/infolibrecr" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-primary btn-lg twitter" href="http://twitter.com/infolibrecr" target="_blank"><i class="fa fa-twitter"></i></a>

      </div>

    </div>
    <!-- /.social -->

    <h2 class="colaborators-title">Nuestros Colaboradores</h2>

    <div class="row collaborators">

      <div class="col-xs-6 col-sm-3">

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

        <div class="collaborator">

          <h4 class="collaborator-name">Lorem ipsum dolor</h4>
          <h5 class="colaborator-role">Redes Sociales</h5>

        </div>
        <!-- /.collaborator -->

      </div>
      <!-- /.col -->

    </div>
    <!-- /.collaborators -->

  </div>
  <!-- /.container -->

</div>
<!-- /.people -->
