<div class="jumbotron intro">

  <div class="container">

    <div class="row">

      <div class="col-sm-12">

        <h1 class="intro-headline">#InformaticaLibreCR</h1>
        <h2 class="intro-subtitle">No a la obligatoriedad de pertenecer al CPIC para ejercer el ejercicio profesional de la informatica</h2>
        <p class="intro-text"></p>
        <p>
          <a class="btn btn-lg btn-main" ng-href="#/survey">Participe en la encuesta</a>
        </p>
        <a class="more-info" ng-href="#/?section=law">M&aacute;s Informaci&oacute;n <i class="fa fa-arrow-circle-o-down"></i></a>

      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.intro -->

<div class="content" id="law">

  <div class="container">

    <div class="content-intro">

      <h1 class="content-headline">¿Cuáles son los efectos de la ley?</h1>

      <p class="lead">El primer efecto de la ley es criminalizar a miles de profesionales que obtuvieron sus conocimientos especializados por medios alternativos como cursos tecnicos, diplomados, entrenamiento empresarial o de forma autodidacta.</p>

      <p> El Voto N.º 5483-95 de la Sala Constitucional, de 6 de octubre de 1995, señala las competencias de un colegio profesional:<br>El acto legislativo fundacional señala, invariablemente, los fines corporativos específicos que se persiguen y la organización básica bajo la que funcionará el Colegio, b) la pertenencia obligatoria al Colegio; c) la sujeción a la tutela administrativa; y d), ejercer competencias administrativas por atribución legal. Las atribuciones de los colegios profesionales involucran la potestad reglamentaria sobre el ejercicio de la profesión...</p>
      <p>Por ende el Código Penal vigente establece:</p>
      <blockquote>Artículo 322.- Será reprimido con <strong>prisión de tres meses a dos años</strong>, al que ejerciere una profesión para la que se requiere una habilitación especial sin haber obtenido la autorización correspondiente.</blockquote>
      <p>Asi que: </p>

      <p> Mediante los proyectos de ley en cuestión, la informática y la computación pasarían a ser profesiones reguladas, que requerirían habilitación especial, y por lo tanto, sujetas a artículo del Código Penal antes indicado. Incapacitando a miles de profesionales de formacion distinta a la universitaria.</p>

      <p class="lead">Restaria competitividad al pais en la atraccion de empresas generadoras de servicios de alto valor agregado al debilitar la masa critica de mano de obra de la informatica del pais.</p>

      <p>La informatica es una de las carreras mas inclusivas en ambitos sociales y de genero. AL ser una carrera que demanda especializacion sobre titulos cualquier persona que por sus propios medios puede desarrollar esos conocimienots, el mercado demanda expertos en campos especificos de la tecnologia e informatica.</p>


    </div>
    <!-- /.content-intro -->

    <div class="row">

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/networks.png" alt="Redes"/>
          <h3 class="area-title">Redes</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/coding.png" alt="Programación"/>
          <h3 class="area-title">Programación</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/servers.png" alt="Infraestructura"/>
          <h3 class="area-title">Infraestructura</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

       <div class="area">
         <img src="images/areas/robotics.png" alt="Robótica"/>
         <h3 class="area-title">Robótica</h3>
       </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/telecom.png" alt="Telecomunicaciones"/>
          <h3 class="area-title">Telecomunicaciones</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/databases.png" alt="Bases de Datos"/>
          <h3 class="area-title">Bases de Datos</h3>
        </div>

      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

    <a class="questions-link btn btn-lg btn-main" ng-href="#/?section=questions">Lea nuestras preguntas al CPIC <i class="fa fa-arrow-circle-o-down"></i></a>

  </div>
  <!-- /.container -->

</div>
<!-- /.content -->

<div class="jumbotron featured-testimonial">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">

        <h1 class="testimonial-headline">Front-End Developer</h1>
        <h2 class="testimonial-name">Luis Antonio Valverde</h2>
        <p class="testimonial-text">Cuenta con 4 años de laborar como desarrollador front-end, su experiencia le ha permitido colaborar con grandes agencias digitales en Costa Rica, no cuenta con un título universitario.</p>
        <p>
          <a class="btn btn-lg btn-primary" ng-href="#/survey">Participe en la encuesta</a>
        </p>
      </div>
      <!-- /.col -->

      <img class="testimonial-image hidden-xs" src="images/people/Luis.png" alt="Luis Antonio Valverde"/>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.testimonials -->

<div class="content" id="questions">

  <div class="container">

    <h1 class="content-headline">¿Qué podemos cuestionar al CPIC?</h1>

    <p class="lead">Analizando el proyecto de ley propuesto al igual que <a href="http://www.cpic.or.cr/estatutos/proyecto-de-reforma-de-ley-7537/" target="_blank">éste comunicado oficial</a> en la página web del <strong>CPIC</strong>, planteamos las siguientes preguntas:</p>

    <div class="questions">

      <div class="row">
        
        <div class="col-md-6">
          
          <div class="well">

            <blockquote>
              <p>Lo que se busca es la protección del ejercicio ético de la profesión y la protección del orden o interés público</p>
            </blockquote>

            <h4>¿Cuáles son los problemas éticos que existen actualmente en el ejercicio de la informática y como planean solucionarlos? ¿Cuál es el interés publico que se ve afectado?</h4>

          </div>

          <div class="well">

            <blockquote>
              <p>La defensa contra el ejercicio indebido de las profesiones, velar porque no haya competencia desleal</p>
            </blockquote>

            <h4>¿Qué califica como ejercicio indebido de la profesión? ¿Y qué tipo de competencia desleal existe en el ejercicio de la informática?</h4>

          </div>

          <div class="well">

            <blockquote>
              <p>Procurar el progreso de determinadas disciplinas; y funciones de carácter público como son la fiscalización y el control sobre el ejercicio de la profesión</p>
            </blockquote>

            <h4>¿Qué tipo de fiscalización y control piensan implementar y cuál es el plan para lograrlo?</h4>

          </div>

          <div class="well">

            <blockquote>
              <p>Lamentablemente está latente en la sociedad costarricense el tema de delitos informáticos, y debemos luchar para mantener limpia la imagen del gremio que acuerpamos</p>
            </blockquote>

            <h4>Ya existe en Costa Rica una ley de delitos informáticos, ¿qué diferencia en términos de consecuencias legales y regulación puede tener el CPIC al respecto?</h4>

          </div>

          <div class="well">

            <blockquote>
              <p>Una mayor protección a las personas que contraten a profesionales en Informática y Computación, garantizándoles que existe un ente que puede atender sus denuncias al considerar que un profesional incurrió en faltas a la ética en cuanto al servicio brindado.</p>
            </blockquote>

            <h4>Para este fin existen contratos de servicio que se crean entre el cliente y el proveedor, ¿qué tipo de protección pueden garantizar tanto al proveedor del servicio como al cliente?</h4>

          </div>

          <div class="well">

            <blockquote>
              <p>El objetivo de elevar la calidad de las condiciones en que se brindan los servicios profesionales, mismos que deben ajustarse en un todo a lo que establezca el Código de Ética del Colegio.</p>
            </blockquote>

            <h4>¿Cuál es la percepción del CPIC de las condiciones actuales mencionadas y cuál es el plan de acción del CPIC para elevar la calidad de dichas condiciones?</h4>

          </div>

        </div>
        <!-- /.col -->

        <div class="col-md-6">

          <div class="well">

            <blockquote>
              <p>El objetivo de colaborar en la disminución de casos de delitos informáticos en el país.</p>
            </blockquote>

            <h4>¿De qué manera puede el CPIC disminuir los casos de delitos informáticos? muchos de estos delitos son realizados en ambientes no empresariales ó de instituciones públicas sino en privacidad y bajo métodos que evitan el rastreo de quién comete el delito.</h4>

          </div>

          <div class="well">

            <blockquote>
              <p>El Colegio regularía sólo a los graduados de bachiller o licenciatura, que ejerzan la profesión como eso, “bachilleres o licenciados”. La razón de ello, es que al CPIC sólo pueden incorporarse bachilleres o licenciados en la materia.</p>
            </blockquote>

            <h4>¿Cuál es el objetivo de obligar a personas con títulos universitarios a colegiarse si otros pueden ejercer fuera de la regulación? Si ambos titulados y no titulados pueden ejercer en igualdad de oportunidad, ¿cuál es el verdadero valor agregado a la colegiatura?</h4>

          </div>

          <div class="well">

            <blockquote>
              <p>Tanto en las instituciones del sector público como en todas las instituciones privadas sólo tendrán la condición de profesionales en Informática y Computación, debidamente habilitados para ejercer la profesión, aquellos que estén incorporados al Colegio.</p>
            </blockquote>

            <h4>En este caso, ¿qué se diferenciaría y en que beneficiaría a un colegiado de un no colegiado que laboran para la misma empresa / institución en igualdad de condiciones? ¿En qué beneficiaría a dicha empresa / institución?</h4>

          </div>

          <div class="well">

            <blockquote>
              <p>Son consideraciones de interés público (defensa de la colectividad) las que justifican la colegiatura obligatoria, nunca de naturaleza económica.</p>
            </blockquote>

            <h4>Se ha mencionado que la junta directiva funciona de manera Ad-Honorem, siendo varias las incógnitas acerca de los beneficios y siendo que obligando la colegiatura el ingreso del CPIC aumentaría por mucho.
              <br/><br/> 
              ¿Cuáles son los planes detallados para el dinero recaudado por los agremiados? ¿Qué transparencia habrá en esto?</h4>

          </div>

        </div>
        <!-- /.col -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.questions -->

  </div>
  <!-- /.container -->

</div>
<!-- /.content -->