<div class="jumbotron intro">

  <div class="container">

    <div class="row">

      <div class="col-sm-12">

        <h1 class="intro-headline">#InformaticaLibreCR</h1>
        <h2 class="intro-subtitle">Lorem ipsum dolor sit amet</h2>
        <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit neque, ornare id laoreet a, convallis vel nibh. Etiam porttitor nunc id enim fringilla vehicula. Duis id turpis a enim dapibus vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        <p>
          <a class="btn btn-lg btn-main" ng-href="#/survey">Participa en la encuesta</a>
        </p>
        <a class="more-info" ng-href="#/?section=law">M&aacute;s Informaci&oacute;n <i class="fa fa-arrow-circle-o-down"></i></a>

      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.intro -->

<div class="content" id="law">

  <div class="container">

    <div class="content-intro">

      <h1 class="content-headline">Cuales son los efectos de la ley?</h1>

      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit neque, ornare id laoreet a, convallis vel nibh. Etiam porttitor nunc id enim fringilla vehicula. Duis id turpis a enim dapibus vulputate.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit neque, ornare id laoreet a, convallis vel nibh. Etiam porttitor nunc id enim fringilla vehicula. Duis id turpis a enim dapibus vulputate. Interdum et malesuada fames ac ante a.</p>

    </div>
    <!-- /.content-intro -->

    <div class="row">

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/networks.png" alt="Redes"/>
          <h3 class="area-title">Redes</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/coding.png" alt="Programación"/>
          <h3 class="area-title">Programación</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/servers.png" alt="Infraestructura"/>
          <h3 class="area-title">Infraestructura</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

       <div class="area">
         <img src="images/areas/robotics.png" alt="Robótica"/>
         <h3 class="area-title">Robótica</h3>
       </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/telecom.png" alt="Telecomunicaciones"/>
          <h3 class="area-title">Telecomunicaciones</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/databases.png" alt="Bases de Datos"/>
          <h3 class="area-title">Bases de Datos</h3>
        </div>

      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

    <a class="questions-link btn btn-lg btn-main" ng-href="#/?section=questions">Lee nuestras preguntas al CPIC <i class="fa fa-arrow-circle-o-down"></i></a>

  </div>
  <!-- /.container -->

</div>
<!-- /.content -->

<div class="jumbotron featured-testimonial">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">

        <h1 class="testimonial-headline">Front-End Developer</h1>
        <h2 class="testimonial-name">Luis Antonio Valverde</h2>
        <p class="testimonial-text">Cuenta con 4 años de laborar como desarrollador front-end, su experiencia le ha permitido colaborar con grandes agencias digitales en Costa Rica, no cuenta con un título universitario.</p>
        <p>
          <a class="btn btn-lg btn-primary" ng-href="#/survey">Participa en la encuesta</a>
        </p>
      </div>
      <!-- /.col -->

      <img class="testimonial-image hidden-xs" src="images/people/Luis.png" alt="Luis Antonio Valverde"/>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.testimonials -->

<div class="content" id="questions">

  <div class="container">

    <h1 class="content-headline">Qué podemos cuestionar al CPIC?</h1>

    <p class="lead">Analizando el proyecto de ley propuesto al igual que <a href="http://www.cpic.or.cr/estatutos/proyecto-de-reforma-de-ley-7537/" target="_blank">éste comunicado oficial</a> en la página del web <strong>CPIC</strong>, planteamos las siguientes preguntas:</p>

    <div class="questions">

      <div class="well">

        <blockquote>
          <p>Lo que se busca es la protección del ejercicio ético de la profesión y la protección del orden o interés público</p>
        </blockquote>

        <h4>Cuáles son los problemas éticos que existen actualmente en el ejercicio de la informática y como planean solucionarlos? cual es el interés publico que se ve afectado?</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>La defensa contra el ejercicio indebido de las profesiones, velar porque no haya competencia desleal</p>
        </blockquote>

        <h4>Qué califica como ejercicio indebido de la profesión? Y que tipo de competencia desleal existe en el ejercicio de la informática?</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>Procurar el progreso de determinadas disciplinas; y funciones de carácter público como son la fiscalización y el control sobre el ejercicio de la profesión</p>
        </blockquote>

        <h4>Qué tipo de fiscalización y control piensan implementar y cual es el plan para lograrlo?</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>Lamentablemente está latente en la sociedad costarricense el tema de delitos informáticos, y debemos luchar para mantener limpia la imagen del gremio que acuerpamos</p>
        </blockquote>

        <h4>Ya existe en Costa Rica una ley de delitos informáticos, que diferencia en términos de consecuencias legales y regulación puede tener el CPIC al respecto?</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>Una mayor protección a las personas que contraten a profesionales en Informática y Computación, garantizándoles que existe un ente que puede atender sus denuncias al considerar que un profesional incurrió en faltas a la ética en cuanto al servicio brindado.</p>
        </blockquote>

        <h4>Para este fin existen contratos de servicio que se crean entre el cliente y el proveedor, que tipo de protección pueden garantizar tanto al proveedor del servicio como al cliente?</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>El objetivo de elevar la calidad de las condiciones en que se brindan los servicios profesionales, mismos que deben ajustarse en un todo a lo que establezca el Código de Ética del Colegio.</p>
        </blockquote>

        <h4>Cuál es la percepción del CPIC de las condiciones actuales mencionadas y cuál es el plan de acción del CPIC para elevar la calidad de dichas condiciones?</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>El objetivo de colaborar en la disminución de casos de delitos informáticos en el país.</p>
        </blockquote>

        <h4>De qué manera puede el CPIC disminuir los casos de delitos informáticos? muchos de estos delitos son realizados en ambientes no empresariales ó de instituciones públicas sino en privacidad y bajo métodos que evitan el rastreo de quién comete el delito</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>El Colegio regularía sólo a los graduados de bachiller o licenciatura, que ejerzan la profesión como eso, “bachilleres o licenciados”. La razón de ello, es que al CPIC sólo pueden incorporarse bachilleres o licenciados en la materia.</p>
        </blockquote>

        <h4>Cual es el objetivo de obligar a personas con títulos universitarios a colegiarse si otros pueden ejercer fuera de la regulación? Si ambos titulados y no titulados pueden ejercer en igualdad de oportunidad cuál es el verdadero valor agregado a la colegiatura?</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>Tanto en las instituciones del sector público como en todas las instituciones privadas sólo tendrán la condición de profesionales en Informática y Computación, debidamente habilitados para ejercer la profesión, aquellos que estén incorporados al Colegio.</p>
        </blockquote>

        <h4>En este caso que diferenciaría y en que beneficiaría a un colegiado de un no colegiado que laboran para la misma empresa / institución en igualdad de condiciones? en que beneficiaría a dicha empresa / institución?</h4>

      </div>

      <div class="well">

        <blockquote>
          <p>Son consideraciones de interés público (defensa de la colectividad) las que justifican la colegiatura obligatoria, nunca de naturaleza económica.</p>
        </blockquote>

        <h4>Se ha mencionado que la junta directiva funciona de manera Ad-Honorem, siendo varias las incógnitas acerca de los beneficios y siendo que obligando la colegiatura el ingreso del CPIC aumentaría por mucho.
          <br/><br/> Cuales son los planes detallados para el dinero recaudado por los agremiados? Que transparencia habrá en esto?</h4>

      </div>

    </div>
    <!-- /.questions -->

  </div>
  <!-- /.container -->

</div>
<!-- /.content -->