<div class="jumbotron intro">

  <div class="container">

    <div class="row">

      <div class="col-sm-12">

        <h1 class="intro-headline">#InformaticaLibreCR</h1>
        <h2 class="intro-subtitle">Lorem ipsum dolor sit amet</h2>
        <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit neque, ornare id laoreet a, convallis vel nibh. Etiam porttitor nunc id enim fringilla vehicula. Duis id turpis a enim dapibus vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        <p>
          <a class="btn btn-lg btn-main" ng-href="#/survey">Participa en la encuesta</a>
        </p>

      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.intro -->

<div class="areas">

  <div class="container">

    <div class="areas-intro">

      <h1 class="areas-headline">Lorem Ipsum Dolor Sit Amet</h1>

      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit neque, ornare id laoreet a, convallis vel nibh. Etiam porttitor nunc id enim fringilla vehicula. Duis id turpis a enim dapibus vulputate.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit neque, ornare id laoreet a, convallis vel nibh. Etiam porttitor nunc id enim fringilla vehicula. Duis id turpis a enim dapibus vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    </div>
    <!-- /.areas-intro -->

    <div class="row">

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/networks.png" alt="Redes"/>
          <h3 class="area-title">Redes</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/coding.png" alt="Programación"/>
          <h3 class="area-title">Programación</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/servers.png" alt="Infraestructura"/>
          <h3 class="area-title">Infraestructura</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

       <div class="area">
         <img src="images/areas/robotics.png" alt="Robótica"/>
         <h3 class="area-title">Robótica</h3>
       </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/telecom.png" alt="Telecomunicaciones"/>
          <h3 class="area-title">Telecomunicaciones</h3>
        </div>

      </div>
      <!-- /.col -->

      <div class="col-xs-6 col-sm-3">

        <div class="area">
          <img src="images/areas/databases.png" alt="Bases de Datos"/>
          <h3 class="area-title">Bases de Datos</h3>
        </div>

      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.areas -->

<div class="jumbotron featured-testimonial">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">

        <h1 class="testimonial-headline">Front-End Developer</h1>
        <h2 class="testimonial-name">Luis Antonio Valverde</h2>
        <p class="testimonial-text">Cuenta con 4 años de laborar como desarrollador front-end, su experiencia le ha permitido colaborar con grandes agencias digitales en Costa Rica, no cuenta con un título universitario.</p>
        <p>
          <a class="btn btn-lg btn-primary" ng-href="#/survey">Participa en la encuesta</a>
        </p>

      </div>
      <!-- /.col -->

      <img class="testimonial-image hidden-xs" src="images/people/Luis.png" alt="Luis Antonio Valverde"/>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.testimonials -->