<div class="jumbotron featured-testimonial">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">

        <h1 class="testimonial-headline">Back-End Developer</h1>
        <h2 class="testimonial-name">Kevin Blanco</h2>
        <p class="testimonial-text">Cuenta con 4 años de laborar como desarrollador front-end, su experiencia le ha permitido colaborar con grandes agencias digitales en Costa Rica, no cuenta con un título universitario.</p>
        <p>
          <a class="btn btn-lg btn-primary" ng-href="#/survey">Participe en la encuesta</a>
        </p>
      </div>
      <!-- /.col -->

      <img class="testimonial-image hidden-xs" src="images/people/Luis.png" alt="Luis Antonio Valverde"/>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.testimonials -->